---
import { Blogs, Fullname, Projects } from "@/components/Home";
import { Icon } from "astro-icon/components";
import Root from "../layouts/Root.astro";
import FlexLink from "@/components/FlexLink.astro";
import ToggleTheme from "@/components/ToggleTheme.astro";

const FIGMA_WIDTH = 1200;
const GAP = 16;
const getColumnFr = (width: number) => `${(width / FIGMA_WIDTH) * 100}fr`;

const column1Width = getColumnFr(528);
const column2Width = getColumnFr(96 - GAP);
const column3Width = getColumnFr(128);
const column4Width = getColumnFr(16);
const column5Width = getColumnFr(256);
const column6Width = getColumnFr(128);

const cssVars = {
  column1Width,
  column2Width,
  column3Width,
  column4Width,
  column5Width,
  column6Width,
};
---

<Root title="Welcome to Astro.">
  <main>
    <ToggleTheme />

    <div class="main-grid">
      <Fullname />

      <FlexLink square href="/">
        <Icon name="mdi:instagram" size={80} />
      </FlexLink>

      <FlexLink class="about" href="/">About</FlexLink>

      <Blogs class="blogs" />

      <Projects />
    </div>
  </main>
</Root>

<style define:vars={cssVars}>
  .main-grid {
    margin-inline: auto;
    padding-block: calc(var(--spacing-base) * 16);
    width: calc(min(100%, 1200px) - var(--spacing-3));

    display: grid;
    gap: var(--spacing-1);
    grid-template-areas:
      "title title space about about about"
      "blogs proj  proj  proj  proj  proj "
      "blogs big   big   big   big   schoo"
      "blogs big   big   big   big   side "
      "bmark work1 work1 .     work2 side ";
    grid-template-columns:
      var(--column1Width) var(--column2Width) var(--column3Width)
      var(--column4Width) var(--column5Width) var(--column6Width);
  }

  .about {
    grid-area: about;
  }
</style>
