---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"button"> {
  height?: string;
  width?: string;
  square?: boolean;
}

const { height, width, square, class: customClass, ...props } = Astro.props;
---

<button {...props} class:list={["flex-block", { square }, customClass]}>
  <slot />
</button>

<style define:vars={{ height, width }}>
  .flex-block {
    text-decoration: none;

    display: grid;
    place-content: center;

    height: var(--height);
    width: var(--width);

    padding-inline: var(--spacing-3);
    padding-block: var(--spacing-2);

    background-color: var(--color-mono-2);
    color: var(--color-mono-7);

    border: none;
    cursor: pointer;

    &:is(:focus, :focus-visible, :active) {
      outline: none;
    }

    &.square {
      padding: var(--spacing-3);
      aspect-ratio: 1 / 1;
    }

    &:hover {
      background-color: var(--color-mono-1);
      color: var(--color-mono-9);
      box-shadow: 0px 0px 0px 4px var(--color-mono-2);
    }
  }
</style>
